<app-top-navigation></app-top-navigation>
<div class="row border-top">
  <div class="col-md-12">
    <div class="row bg-white">
      <div class="col-md-12 navigation">
        <div class="row ml-4 mt-2 mb-2">posts</div>
        <div class="row ml-4 mt-2 mb-2">comments</div>
        <div class="row ml-4 mt-2 mb-2">upvoted</div>
        <div class="row ml-4 mt-2 mb-2">downvoted</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 ml-4 mt-4 bg-white ">
        <div class="row   border-bottom pb-2">
          <div class="col-md-12 d-flex flex-row">
            <i class="fas fa-comment-alt mt-2 ml-2"> </i>

            <button class="btn btn-link p-0 ml-2">profile name</button>
            <P class="txt ml-1 mr-1">commented on post title. posted by </P><button class="btn btn-link p-0">profile name</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex flex-row">
            <p class=" ml-3">profile name</p>
            <p class=" ml-3">time</p>
          </div>
          <div class="row ml-3">post title</div>
        </div>
        <div class="row ml-3">
          <button class="btn btn-link txt-black">reply</button>
          <button class="btn btn-link txt-black">delete</button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
