<div>
  <div class="row top-nav-1">
    <div class="col-md-1">
      <img
        class="reddit-icon mt-2 mr-1"
        src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png"
      />
      <h4 class="mt-2 mr-2">reddit</h4>
    </div>
    <div class="col-md-2">
      <select class=" bg-white m-2 border-white  ">
        <option>2</option
        ><option>3</option></select
      >
    </div>
    <div class="col-md-4 form-group has-search mt-2 pb-2 ">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control bg-light " placeholder="Search Reddit" />
    </div>
    <div class="col-md-5 ">
      <div class="row">
        <div class="col-md-3 mt-2 ">
          <div class="row">
            <div class="col-md-1  "></div>
            <div class="col-md-3 text-center icon"><i class="fa fa-fire " aria-hidden="true"></i></div>

            <div class="col-md-3 text-center icon"><i class="fas fa-arrows-alt "></i></div>
            <div class="col-md-3 text-center icon"><i class="fab fa-algolia "></i></div>

            <div class="col-md-2  border"></div>
          </div>
        </div>
        <div class="col-md-3  mt-2 border">cold-md-3</div>
        <div class="col-md-6  mt-2 border">cold-md-6</div>
      </div>
    </div>
  </div>
  <div class="row top-nav-2 border">top-nav-1</div>
</div>
