<div class="">
  <div class="row">
    <img class="side-image" style="height: 820px" src="http://i.imgur.com/zd8Ud.jpg" />

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 content">
          <img
            class="reddit-icon"
            src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png"
          />
          <h5 class="text-sign-in">Sign in</h5>
          <form (ngSubmit)="login()">
            <input type="text" class="input-group user-detail" name="username" [(ngModel)]="username" id="username" />
            <input type="password" class="input-group user-detail" name="password" [(ngModel)]="password" id="password" />
            <button type="submit" class="btn btn-primary mt-4 signin">
              SIGN IN
            </button>
          </form>
          <footer>
            <div>
              <button class="btn btn-link mt-2 reset-link">
                Forgot username
              </button>
              <button class="btn btn-link mt-2 ml-2 reset-link">
                Forgot password
              </button>
            </div>
            <div class="signup-link">
              <p class="mt-4">New to Reddit?</p>
              <button class="btn btn-link mt-2 ml-2 reset-link mt-4">
                <a [routerLink]="'/users/register'">SIGN UP</a>
              </button>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
