<div class="row">
  <div class="col-md-1 col-xl-1 col-4k-1 col-lg-1 side-image">
    <img src="http://i.imgur.com/zd8Ud.jpg" />
  </div>

  <div class="col-md-11  col-xl-11 ">
    <div class="row">
      <div class="col-md-12 col-xl-12 col-lg-11  content">
        <img
          class="reddit-icon"
          src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png"
        />
        <h5 class="text-sign-in">Sign in</h5>
        <form (ngSubmit)="login()">
          <input type="text" class="input-group user-detail" name="username" [(ngModel)]="username" id="username" />
          <div class="d-flex ">
<input [type]="showPassword ? 'text' : 'password' " class="input-group user-detail" name="password" [(ngModel)]="password" id="password" />
          <i
            class="fas fa-eye align-self-center ml-2 mt-1"
            (click)="showHidePassword()"
          ></i>
          </div>
          
          <button type="submit" class="btn btn-primary mt-4 signin">
            SIGN IN
            <div class="spinner-border" role="status" *ngIf="isStillLoading"></div>
          </button>
        </form>

        <footer>
          <!-- <div>
              <button class="btn btn-link mt-2 reset-link">
                Forgot username
              </button>
              <button class="btn btn-link mt-2 ml-2 reset-link">
                Forgot password
              </button>
            </div> -->
          <div class="signup-link">
            <p class="mt-4">New to Reddit?</p>
            <button class="btn btn-link mt-2 ml-2 reset-link mt-4">
              <a [routerLink]="'/users/register'">SIGN UP</a>
            </button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
