<div class="row m-1">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <div class="row border-bottom">
          <h5 class="pt-3 create-post ">Create a post</h5>
          <p class=" drafts btn btn-link">DRAFTS</p>
        </div>
        <div class="row">
          <div class="dropdown bg-white mt-3 mb-2 rounded">
            <button type="button" class="btn w-100 text-left pl-1 pt-1" data-toggle="dropdown">
              {{ communityName }}
              <i class="fas fa-caret-down float-right mt-1 pr-2"></i>
            </button>
            <div class="dropdown-menu w-100">
              <input class="dropdown-item" href="#" placeholder="search communities" />
              <ul>
                <li class="dropdown-item" href="#" *ngFor="let community of communities" (click)="selectChange(community._id)">
                  {{ community.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row border">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 bg-white rounded">
                <div class="w-100 post-filter border-right border-bottom text-center pt-2 text-secondary">
                  <i class="fas fa-comment-alt pr-1 "></i> post
                </div>
              </div>
              <div class="col-md-4 text-center bg-white">
                <!-- <div class="w-100 image-filter  border-right border-bottom text-center pt-2 text-secondary">
                  <i class="fas fa-image pr-1"></i>image
                </div> -->
              </div>
              <div class="col-md-4 text-center bg-white rounded">
                <!-- <div class="w-100 link-filter border-right border-bottom text-center pt-2 text-secondary ">
                  <i class="fas fa-link pr-1"></i>link
                </div> -->
              </div>
            </div>
            <form>
              <div class="row bg-white title-input ">
                <div class="form-group w-100 p-3">
                  <input type="text" class="form-control w-100" id="title" placeholder="Title" name="title" [(ngModel)]="title" />
                </div>
              </div>
              <div class="row w-100 bg-white h-75 rounded-bottom">
                <textarea class="w-100 border mb-3 mr-3 ml-3" placeholder="Text(optional)" name="text" [(ngModel)]="text"></textarea>
                <div class="bottom-buttons">
                  <!-- <button class="save-draft btn btn-basic text-primary border-primary">SAVE DRAFT</button
                  > -->
                  <button class="post ml-2 btn btn-primary" (click)="addPost()">POST</button>
                </div>
              </div>
            </form>

            <div class="row"><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-1"></div>
</div>
