* {
  margin: 0px;
  padding: 0px;
}
.navigation {
  display: flex;
  flex-direction: row;
}
.txt {
  margin-top: 1px !important;
}
:ng-deep .err {
  background: red;
}
:ng-deep .success {
  background: green;
}
:ng-deep .warning {
  background: yellow;
}
ul {
  list-style: none;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* button:focus,
button:visited {
  background: black !important;
  color: white !important;
} */

button.active {
  border: 10px !important;
  background: darkblue;
  color: white;
}
.empty-message {
  margin-left: 450px;
  margin-top: 200px;
}
