<div class="row border-top">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9 ml-4 mt-4">
        <div class="row empty-message" *ngIf="comments.length === 0">
          <p>User's comments will be seen here. There is nothing to display as of now.</p>
        </div>
        <ul *ngIf="comments.length > 0">
          <li *ngFor="let comment of comments" class="mb-2 bg-white">
            <div class="row   border-bottom pb-2">
              <div class="col-md-12 d-flex flex-row">
                <i class="fas fa-comment-alt mt-2 ml-2"> </i>

                <button class="btn btn-link p-0 ml-2">{{ user?.username }}</button>
                <P class="txt ml-1 mr-1"
                  >commented on <b>{{ comment?.postID?.title }}</b
                  >. posted by </P
                ><button class="btn btn-link p-0">
                  {{ comment?.postID?.postedBy }}
                </button>
                <p class="ml-2">{{ comment?.createdAt }}</p>
              </div>
            </div>

            <div class="row ml-3">{{ comment?.text }}</div>

            <div class="row ml-3">
              <button class="btn btn-link txt-black" [routerLink]="['/r/comments', comment?.postID?._id]">Reply</button>
              <button class="btn btn-link txt-black ml-2" (click)="deleteComment(comment._id)">delete</button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</div>
