* {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}

::ng-deep mat-panel-title {
  width: 100px !important;
}
mat-expansion-panel {
  box-shadow: none !important;
  width: 100% !important;
}
textarea {
  width: 100% !important;
  height: 200px !important;
  padding: 10px !important;
}

::ng-deep .mat-expansion-indicator {
  display: none !important;
}
::ng-deep .mat-expansion-panel-header {
  width: 100px !important;
}

.comment-text {
  word-wrap: break-word !important;
  max-width: 100%;
  white-space: normal;
}
h6 {
  word-wrap: break-word !important;
  max-width: 100% !important;
  margin-top: 10px;
}
.submit-btn {
  margin-left: auto;
  padding: 5px;
}
::ng-deep .ng-star-inserted {
  max-width: 100% !important;
}
.row {
  max-width: 1000px !important;
}
::ng-deep ng-container {
  margin-left: 100px !important;
}
