<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="!reOcurringCall">
      <div class="row" *ngFor="let c1 of firstLevelComments">
        <div class="row" *ngFor="let comment of c1.innerComments">
          <ul>
            <li>
              <p>{{ c1.self.text }}</p>
              <h5>{{ comment.text }}</h5>
              <app-show-comments
                *ngIf="comment.children.data && comment.children.data.length"
                [innerComments]="comment.children.data"
                [reOcurringCall]="true"
              ></app-show-comments>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="reOcurringCall">
      <div class="row" *ngFor="let comment of innerComments">
        <ul>
          <li>
            <h5>{{ comment.text }}</h5>
            <app-show-comments
              *ngIf="comment.children.data && comment.children.data.length"
              [innerComments]="comment.children.data"
              [reOcurringCall]="true"
            ></app-show-comments>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</div>
