* {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}

::ng-deep mat-panel-title,
mat-expansion-panel-header {
  max-width: 100px !important;
}
::ng-deep mat-expansion-panel {
  box-shadow: none !important;
  max-width: 100% !important;
}
textarea {
  height: 200px !important;
}

::ng-deep .mat-expansion-indicator {
  display: none !important;
}

h6 {
  word-wrap: break-word !important;

  margin-top: 10px;
  padding-right: 2%;
}

::ng-deep .ng-star-inserted {
  max-width: 100% !important;
}

::ng-deep ng-container {
  margin-left: 100px !important;
  width: 100% !important;
}

.spinner {
  margin-left: 300px !important;
  height: 100px !important;
}
@media only screen and (max-width: 766px) {
  h6,
  ul,
  li,
  ng-container {
    padding: 0% !important;
    margin: 0% !important;
    border: none !important;
  }
}
