<div class="row border view-filter">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1 "><p class="mt-1 ml-3 text-black-50 view">view</p></div>
      <div class="col-md-1"></div>
      <div class="col-md-1 "><i class="fas fa-th-large mt-2"></i></div>
      <div class="col-md-1 "><i class="fas fa-bars mt-2"></i></div>
      <div class="col-md-1 "><i class="fas fa-align-justify mt-2"></i></div>
      <div class="col-md-1  mt-1"></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-3 mt-1 pl-5 text-black-50">sort</div>
      <div class="col-md-3">
        <select class=" bg-white border-white">
          <option value="">Best</option>
          <option><b>Hot</b></option>
          <option><b>New</b></option>
          <option><b>Controversial</b></option>
          <option><b>top</b></option>
          <option><b>Rising</b></option>
        </select>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
</div>
