* {
  margin: 0px;
  padding: 0px;
}

.post-description {
  word-wrap: break-word;
  font-family: 'Rokkitt', serif;
}

ul {
  list-style-type: none;
}

.reddit-logo-animal {
  height: 80px;
  width: 30px;
}

.pointer {
  cursor: pointer;
}

::ng-deep .err {
  background: red;
  color: white;
}

::ng-deep .warning {
  background: yellow;
  color: black;
}
::ng-deep .success {
  background: green;
  color: white;
}

.spinner {
  position: relative;
  margin-left: 150px;
  margin-top: 100px;
}
