<div class="row mt-3">
  <div class="col-md-2 "></div>

  <div class="col-md-6 ">
    <ul>
      <li *ngFor="let post of posts">
        <div class="row mb-3 mr-3 border bg-white">
          <div class="col-md-1">
            <div class="vote-buttons p-3 h-100">
              <i class="fas fa-arrow-up" (click)="upvote(post._id)"></i>
              <p class="votes">{{ post?.totalVotes }}</p>
              <i class="fas fa-arrow-down" (click)="downvote(post._id)"></i>
            </div>
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <div class="row bg-white m-3">
                  <div class="content">
                    <div class="community-name">
                      <p class="btn btn-link" [routerLink]="['/r/communities', post.communityID._id]">{{ post.communityID.name }}</p>
                    </div>
                    <div class="username">
                      <p>{{ post.userID.username }}</p>
                    </div>
                    <div class="header pt-2">
                      <h4>{{ post.title }}</h4>
                    </div>
                    <div>
                      <p class="pt-3 pb-3">{{ post.text }}</p>
                    </div>
                    <div class="icons">
                      <i class="fas fa-comment-alt" [routerLink]="['/r/comments', post._id]"> </i
                      ><span class="ml-1">{{ post?.comments?.length }}</span>
                      <!-- <i class="fas fa-share ml-3"></i
                      ><span class="ml-1">Share</span> -->
                      <!-- <i class="fas fa-check ml-3"></i><span class="ml-1">Approve</span> -->
                      <i class="fas fa-trash-alt ml-3" (click)="deletePost(post._id)" *ngIf="post.creator"></i
                      ><span class="ml-1" *ngIf="post.creator">Remove</span>
                      <!-- <i class="fas fa-dumpster ml-3"> </i
                      ><span class="ml-1">Spam</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-2 post ">
    <div class="row home bg-white">
      <div class="col-md-12">
        <div class="row planets-img"><img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" /></div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <img src="https://www.redditstatic.com/desktop2x/img/id-cards/snoo-home@2x.png" class="reddit-logo-animal " />
              </div>
              <div class="col-md-9">
                <h6 class="pt-5 pl-0 mr-5">Home</h6>
              </div>
            </div>
            <div class="row"><p class="m-1">Your personal Reddit frontpage. Come here to check in with your favorite communities.</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-white"><button class="btn  create-post " [routerLink]="['submit']">CREATE POST</button></div>
    <div class="row bg-white">
      <button class="btn border-primary  create-community" [routerLink]="['communities']">CREATE COMMUNITY</button>
    </div>
    <div class="row">
      <app-subscribe-a-community class="sub"></app-subscribe-a-community>
    </div>
  </div>

  <div class="col-md-2 "></div>
</div>
