* {
  padding: 0;
  margin: 0;
}
.content {
  margin-top: 250px;
  height: 400px;
  margin-left: 20px;
}
.side-image {
  width: 140px !important;
}
.reddit-icon {
  height: 40px;
}
.text-sign-in {
  margin-top: 15px;
}
.email {
  width: 400px;
  margin-top: 15px;
  height: 45px;
  text-indent: 10px;
}
.signin-btn {
  width: 150px;
  height: 40px;
}
.reset-link {
  font-size: 12px;
}
.signup-link {
  display: flex;
  font-size: 12px;
}
.signin-content {
  max-width: 400px;
  font-size: 15px;
}
.terms-and-policy {
  max-width: 400px;
  font-size: 12px;
}
.username::placeholder {
  font-size: 12px;
  padding-left: 5px;
}
.password::placeholder {
  font-size: 12px;
  padding-left: 5px;
}
.username {
  height: 50px;
}
.password {
  height: 50px;
}
#back-next {
  margin-top: 550px;
  height: 50px;
}

::ng-deep .err {
  background: red;
}

::ng-deep .warning {
  background: yellow;
}

::ng-deep .success {
  background: green;
}
