<div *ngIf="isNextButtonClicked === false">
  <div class="row side-image">
    <div class="col-md-1"><img src="http://i.imgur.com/zd8Ud.jpg" /></div>

    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12 content">
          <h5 class="mt-5">Join the world wide conversation</h5>
          <p class="signin-content">
            By having a Reddit account, you can subscribe, vote, and comment on all your favorite Reddit content.
          </p>
          <p class="signin-content">Sign up.</p>
          <form #f="ngForm" (ngSubmit)="getUserEmail(f)">
            <input
              type="text"
              class="input-group email"
              placeholder="Email"
              name="email"
              type="email"
              [pattern]="emailPattern"
              #email="ngModel"
              ngModel
              required
            />
            <div *ngIf="email?.errors">
              <div *ngIf="email?.errors?.required">
                Email is required.
              </div>
              <div *ngIf="email?.errors?.pattern">
                Email is not valid.
              </div>
            </div>
            <input type="submit" class="btn btn-primary mt-4 signin-btn" name="NEXT" value="NEXT" />
          </form>

          <footer>
            <div class="signup-link">
              <p class="mt-4">Already a Redditor?</p>
              <button class="btn btn-link mt-2 ml-1 reset-link mt-4">
                <strong [routerLink]="'/users/login'">LOG IN</strong>
              </button>
            </div>
            <div class="terms-and-policy mt-3">
              <p>
                By signing up, you agree to our Terms and that you have read our Privacy Policy and Content Policy.
              </p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isNextButtonClicked === true">
  <div class="row mt-3 ml-3 d-flex flex-column ">
    <p>
      Your username is how other community members will see you. This name will be used to credit you for things you share on Reddit. What
      should we call you?
    </p>
    <h5>
      Choose your username
    </h5>
    <form #f="ngForm" (ngSubmit)="sendUserDetails(f)">
      <div class="mt-3 ">
        <input id="username" name="username" placeholder="CHOOSE A USERNAME" type="text" class="username pb-1 w-25" ngModel />
      </div>
      <div class="mt-3">
        <div class="d-flex ">
          <input
            #password="ngModel"
            [type]="showPassword ? 'text' : 'password'"
            class="input-group  password pb-1 w-25"
            name="password"
            id="password"
            placeholder="PASSWORD"
            type="password"
            [pattern]="passwordPattern"
            ngModel
            required
          />
          <i class="fas fa-eye align-self-center ml-2 mt-1" (click)="showHidePassword()"></i>
        </div>

        <div *ngIf="password?.errors">
          <div *ngIf="password?.errors?.pattern">
            Password must be atleast 8 length in character and contain one special character, one capital letter, one small letter and a
            number.
          </div>
          <div *ngIf="password?.errors?.required">
            pasword is required
          </div>
        </div>
      </div>
      <div class="row spinner" *ngIf="isStillLoading">
        <mat-spinner></mat-spinner>
        <p class="mt-3">Logging in. Please wait...</p>
      </div>
      <div class="d-flex flex-row justify-content-between mt-5 mr-5">
        <button (click)="backToEmail()" class="btn btn-link"><p class="bg-light p-2">Back</p></button>
        <!-- <p class="float-right btn btn-link m-3">Next</p> -->
        <button name="next" value="next" type="submit" class=" btn btn-link"><p class="bg-light p-2">Next</p></button>
      </div>
    </form>
  </div>
</div>
