<div *ngIf="isNextButtonClicked === false">
  <div class="row side-image">
    <div class="col-md-1"><img src="http://i.imgur.com/zd8Ud.jpg" /></div>

    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12 content">
          <h5 class="text-sign-in">Join the world wide conversation</h5>
          <p class="signin-content">
            By having a Reddit account, you can subscribe, vote, and comment on all your favorite Reddit content.
          </p>
          <p class="signin-content">Sign up.</p>
          <form #f="ngForm" (ngSubmit)="getUserEmail(f)">
            <input
              type="text"
              class="input-group email"
              placeholder="Email"
              name="email"
              type="email"
              [pattern]="emailPattern"
              #email="ngModel"
              ngModel
              required
            />
            <div *ngIf="email?.errors">
              <div *ngIf="email?.errors?.required">
                Email is required.
              </div>
              <div *ngIf="email?.errors?.pattern">
                Email is not valid.
              </div>
            </div>
            <input type="submit" class="btn btn-primary mt-4 signin-btn" name="NEXT" value="NEXT" />
          </form>

          <footer>
            <div class="signup-link">
              <p class="mt-4">Already a Redditor?</p>
              <button class="btn btn-link mt-2 ml-1 reset-link mt-4">
                <strong [routerLink]="'/users/login'">LOG IN</strong>
              </button>
            </div>
            <div class="terms-and-policy mt-3">
              <p>
                By signing up, you agree to our Terms and that you have read our Privacy Policy and Content Policy.
              </p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isNextButtonClicked === true" style="min-width: 100%; min-height: 100%">
  <div id="parent">
    <div class="row mt-3 ml-3">
      <h5>
        Choose your username
      </h5>
    </div>
    <div class="row pb-3 ml-3">
      <p>
        Your username is how other community members will see you. This name will be used to credit you for things you share on Reddit. What
        should we call you?
      </p>
    </div>
    <div class="border-bottom"></div>
    <form #f="ngForm" (ngSubmit)="sendUserDetails(f)">
      <div class="mt-3">
        <input id="username" name="username" placeholder="CHOOSE A USERNAME" type="text" class="username pb-1 w-25 ml-3" ngModel />
      </div>
      <div class="mt-3">
        <input
          id="password"
          name="password"
          placeholder="PASSWORD"
          type="password"
          class="password pb-1 w-25 ml-3"
          [pattern]="passwordPattern"
          #password="ngModel"
          ngModel
          required
        />
        <div *ngIf="password?.errors" class="ml-2">
          <div *ngIf="password?.errors?.pattern">
            Password must be atleast 8 length in character and contain one special character, one capital letter, one small letter and a
            number.
          </div>
          <div *ngIf="password?.errors?.required" class="ml-2">
            pasword is required
          </div>
        </div>
      </div>
      <div class="row spinner" *ngIf="isStillLoading">
        <mat-spinner></mat-spinner>
        <p class="mt-3">Logging in. Please wait...</p>
      </div>
      <div class=" row bg-light " id="back-next">
        <div class="col-sm m-3">
          <a class="btn btn-link" (click)="backToEmail()">Back</a>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
          <!-- <p class="float-right btn btn-link m-3">Next</p> -->
          <button name="next" value="next" type="submit" class="float-right btn btn-link mr-3 mt-2 bottom-0">next</button>
        </div>
      </div>
    </form>
  </div>
</div>
