* {
  padding: 0;
  margin: 0;
}

.reddit-icon {
  height: 30px;
}

.form-control:hover {
  background-color: white !important;
}
.form-control {
  height: 35px;
}
.form-control::placeholder {
  color: #aaa;
  font-size: 15px;
}
.icon:hover {
  background: #aaa;
}
.icon {
  margin-top: 1px;
  height: 35px !important;
}
.reddit {
  margin-top: 10px;
  cursor: pointer;
}
::ng-deep .err {
  background: red;
}
::ng-deep .success {
  background: green;
}
::ng-deep .warning {
  background: yellow;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
