<div class="row d-flex flex-row justify-content-around bg-white ">
  <div class="d-flex flex-row justify-content-around mt-1" [routerLink]="['/r']">
    <img
      class="reddit-icon mt-2"
      src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png"
    />
    <h4 class=" mr-2 ml-2 reddit">reddit</h4>
  </div>
  <div>
    <mat-form-field>
      <mat-label>See contents from</mat-label>
      <mat-select (selectionChange)="onChangeFilter($event)">
        <mat-option value="Old"><b>Old</b></mat-option>
        <mat-option value="Recent"><b>Recent</b></mat-option>
        <mat-option value="Hot"><b>Hot</b></mat-option>
        <mat-option value="Controversial"><b>Controversial</b></mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <div>
      <div>
        <mat-form-field>
          <mat-label
            ><b>{{ userName }}</b>
          </mat-label>
          <mat-select (selectionChange)="onChange($event)">
            <mat-option value="My profile"><b>My profile</b></mat-option>
            <mat-option value="Logout"><b>Logout</b></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
