<div>
  <div class="row top-nav-1">
    <div class="col-md-1">
      <img
        class="reddit-icon mt-2  ml-4"
        src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_reddit-512.png"
      />
      <h4 class=" mr-2 ml-2 reddit" [routerLink]="['/r']">reddit</h4>
    </div>
    <div class="col-md-2">
      <select class=" bg-white m-2 border-white  ">
        <option><b>Home</b></option
        ><option><b>Popular</b></option
        ><option><b>All</b></option
        ><option><b>Original Content</b></option></select
      >
    </div>
    <div class="col-md-4 form-group has-search mt-2 pb-2 ">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control bg-light " placeholder="Search Reddit" />
    </div>
    <div class="col-md-5 ">
      <div class="row">
        <!-- <div class="col-md-3 mt-2 ">
          <div class="row">
            <div class="col-md-2 "></div>
            <div class="col-md-3 text-center icon"><i class="fa fa-fire pt-2 " aria-hidden="true"></i></div>

            <div class="col-md-3 text-center icon"><i class="fas fa-arrows-alt  pt-2 "></i></div>
            <div class="col-md-3 text-center icon"><i class="fab fa-algolia  pt-2 "></i></div>

            <div class="col-md-1 "></div>
          </div>
        </div> -->
        <!-- <div class="col-md-3  mt-2 ">
          <div class="row">
            <div class="col-md-1 border-left"></div>
            <div class="col-md-3 text-center icon"><i class="fas fa-comment-dots pt-2"></i></div>

            <div class="col-md-3 text-center icon "><i class="fas fa-envelope pt-2 "></i></div>
            <div class="col-md-3 text-center icon"><i class="fas fa-pen pt-2"></i></div>

            <div class="col-md-2 "></div>
          </div>
        </div> -->
        <div class="col-md-6 mt-1 ">
          <select (change)="onChange($event)" class=" bg-white m-1 border-white">
            <option value="">{{ userName }}</option>
            <option id="MyProfile"><b>My profile</b></option>
            <!-- <option><b>User settings</b></option
            ><option><b>Reddit Coins</b></option> -->
            <option><b>Logout</b></option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-view-filters></app-view-filters> -->
</div>
