<div class="row bg-white ml-0 mt-3 mr-0">
  <div class="col-md-12">
    <div class="row p-2">
      <small><b>TRENDING COMMUNITIES</b> </small>
    </div>
    <div class="row m-1">
      <div class="col-md-2 "></div>
      <div class="col-md-6 text-center info"><small class="m-1 pb-1">community</small><small>50k subscribers</small></div>
      <div class="col-md-4 subscribe-button">
        <button class="pb-1"><small class="sub">SUBSCRIBE</small></button>
      </div>
    </div>
  </div>
</div>
