<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="row first-row">
          <h4 class="mt-4 mb-4 community-name text-white">{{ community?.name }}</h4>
        </div>
        <div class="row second-row"><p class="pt-2 pb-2 border-bottom">posts</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <ul>
          <li *ngFor="let post of posts">
            <div class="row m-3 border bg-white">
              <div class="col-md-1">
                <div class="vote-buttons p-3 h-100">
                  <i class="fas fa-arrow-up"></i>
                  <p class="votes">12</p>
                  <i class="fas fa-arrow-down"></i>
                </div>
              </div>
              <div class="col-md-11">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row bg-white m-3">
                      <div class="content">
                        <div>
                          <p>{{ post.userID.username }}</p>
                        </div>
                        <div class="header pt-2">
                          <h4>{{ post.title }}</h4>
                        </div>
                        <div>
                          <p class="pt-3 pb-3">{{ post.text }}</p>
                        </div>
                        <div class="icons">
                          <i class="fas fa-comment-alt"></i><span class="ml-1">0</span> <i class="fas fa-share ml-3"></i
                          ><span class="ml-1">Share</span> <i class="fas fa-check ml-3"></i><span class="ml-1">Approve</span>
                          <i class="fas fa-trash-alt ml-3"></i><span class="ml-1">Remove</span> <i class="fas fa-dumpster ml-3"> </i
                          ><span class="ml-1">Spam</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mt-2">
        <div class="row m-2">
          <div class="col-md-12">
            <div class="row home bg-white">
              <div class="col-md-12">
                <div class="row card-header pl-2">
                  <small><b>COMMUNITY DETAILS</b> </small>
                </div>
                <div class="row m-3">
                  <h6>{{ community?.name }}</h6>
                </div>
                <div class="row">
                  <div class="col-md-6 pl-3 total-subscribers">
                    <h6>{{ community?.subscribers.length }}</h6>
                    <p>subscribers</p>
                  </div>

                  <div class="col-md-6"></div>
                </div>
                <div class="row pl-3">
                  <p>{{ community?.title }}</p>
                </div>
              </div>
            </div>
            <div class="row bg-white"><button class="btn  create-post " [routerLink]="['/submit']">CREATE POST</button></div>
            <div class="row bg-white">
              <button class="btn subscribed">SUBSCRIBED</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">text</div>
    </div>
  </div>
</div>
