<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="row first-row">
          <h4 class="mt-4 mb-4 community-name text-white">{{ community?.name }}</h4>
        </div>
        <div class="row second-row"><p class="pt-2 pb-2 border-bottom">posts</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="spinner" *ngIf="isStillLoading">
          <mat-spinner></mat-spinner>
          <p>Loading posts...</p>
        </div>
        <div *ngIf="posts.length === 0 && !isStillLoading" class="suggestion">
          <p>There is nothing to display. Subscribe communities of your interest to see contents from them.</p>
        </div>
        <app-display-post [shouldCallChild]="false"></app-display-post>
      </div>
      <div class="col-md-2 mt-2">
        <div class="row m-2">
          <div class="col-md-12">
            <div class="row home bg-white">
              <div class="col-md-12">
                <div class="row card-header pl-2">
                  <small><b>COMMUNITY DETAILS</b> </small>
                </div>
                <div class="row m-3">
                  <h6>{{ community?.name }}</h6>
                </div>
                <div class="row">
                  <div class="col-md-6 pl-3 total-subscribers">
                    <h6>{{ community?.subscribers?.length }}</h6>
                    <p>subscribers</p>
                  </div>

                  <div class="col-md-6"></div>
                </div>
                <div class="row pl-3">
                  <p>{{ community?.title }}</p>
                </div>
              </div>
            </div>
            <div class="row bg-white"><button class="btn  create-post " [routerLink]="['/r/submit']">CREATE POST</button></div>
            <div class="row bg-white">
              <button class="btn subscribed">SUBSCRIBED</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
